.seat-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1px;
}
.seat-container button:active {
  background-color: green;
}


.seat-container button {
  margin: 5px;
}


/* Để các lớp CSS khác nhau tương ứng với các trạng thái của ghế */

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Tạo kiểu cho khu vực checkbox */
.checkbox-custom {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 3px;
  position: relative;
  vertical-align: middle;
}

/* Thiết kế icon khi checkbox được chọn */
.checkbox-custom::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  border: solid #008000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 3px;
  left: 6px;
  display: none;
}


input[type="checkbox"]:checked + .checkbox-custom::after {
  display: block;
}
.seat-label:active {
  background-color: green; 
}





.List{
  font-size: 40px;
  font-weight: 700;
}
.screen{
  border-bottom: 50px solid rgb(255, 159, 95);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 100;
  width:80%;
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
  font-size: 25px;
  color: #fff;
  margin-bottom: 10px;
  
}
.gheDuocChon {
    border: 3px solid rgb(62, 62, 59);

    background: orange;
    color: #000;

    cursor: no-drop !important;
    border-radius: 5px;
    width: 45px;
    height: 35px;
    float: left; 
    cursor: no-drop !important;
  
    
   
}
.ghefloat{
  float: left; 
  font-size: 30px;
  
}
.gheDangChon {
  background: rgb(109, 238, 109);
  border: 3px solid rgb(109, 238, 109);
  color: #000;

  cursor: pointer;
  border-radius: 5px;
  width: 45px;
  height: 35px;
  

}
.ghe{
  border: 3px solid orange;
  width: 45px;
  height: 35px;
  font-size: 12px;
 
  margin-left: 0px;
  border-radius: 5px;
  
}